<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ZURBemails</title>
    <link rel="stylesheet" type="text/css" href="email.css" />
    <style type="text/css">
        #include("email.css")
    </style>
</head>

<body bgcolor="#FFFFFF">

    <table class="head-wrap" bgcolor="#999999">
        <tr>
            <td></td>
            <td class="header container">
                <div class="content">
                    <table bgcolor="#999999">
                        <tr>
                            <td><img src="http://173.212.219.189/images_email/logo.png" /></td>
                            <td align="right">
                                <h6 class="collapse">Admin Tool</h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <h3>Hello $!name ,</h3>
                                <p class="lead" style="color:red">Welcome to S-Blox.</p>

                                <p><img src="http://173.212.219.189/images_email/home.png" /></p>

                                <p>You can now start Collaborating with your team member. Go to Apple Store or Google Play to download and install the S-Blox software clients that are right for you or simply login to the web client directly from website.</p>
							      <table style="border:1px solid">
							        <tr>
							          <th style="background-Color:grey;border:1px solid" colspan="3">S-Blox software clients</th>
							        </tr>
							        <tr>
							          <td style="text-align:center;"><a style="color:red" href="http://chat.s-blox.com/">Web Client</a></td>
							          <td style="text-align:center;"><a style="color:red" href="http://chat.s-blox.com/">Android Client</a></td>
							          <td style="text-align:center;"><a style="color:red" href="http://chat.s-blox.com/">IOS Client</a></td>
							        </tr>
							       </table>
							      
							      <p>Once you have downloaded and installed a client, you will need to login.</p>
							      
							      <p>It's all part of delivering "big company communications capabilities, without the "big company" capital investment.</p>
							      
							      <p>Take a moment now to download the s-blox software client and get started.</p>
							      
							      <p>If you have questions or need assistance, please visit <a style="color:red" href="http://chat.s-blox.com/">Android Client</a> and click Support. You can watch videos of the service in action, download the Quick Start guide and much more.</p>
							      
							      <p>Welcome to s-blox</p>
                                <br/>
                                <br/>

                                <table class="social" width="100%">
                                    <tr>
                                        <td>

                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <h5 class="">Connect with Us:</h5>
                                                        <p class=""><a href="https://www.facebook.com/sblox/" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/Smart_Blox" class="soc-btn tw">Twitter</a>                                                            <a href="#" class="soc-btn gp">Google+</a></p>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <h5 class="">Contact Info:</h5>
                                                        <p>Phone: <strong>+971 4 818 9024</strong><br/> Email: <strong><a href="emailto:info@s-blox.com">info@s-blox.com</a></strong></p>
                                                    </td>
                                                </tr>
                                            </table>
                                            <span class="clear"></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">

                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="#">Terms</a> |
                                    <a href="#">Privacy</a> |
                                    <a href="#">
                                        <unsubscribe>Unsubscribe</unsubscribe>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>

</html>